<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Basic Twitter Clone</title>
</head>
<body>

    <div id="tweets-wrapper">
        <h3>Welcome</h3>

        <div>
            What are you thinking about?
            <form method="post" id="post-tweet">
                <input type="text" class="the-tweet"/>
                <button>Post</button>
            </form>

            <div id="server-response"></div>

        </div>

        <div id="all-tweets">
            <img width="30px" src="/images/spinner.gif"/>
        </div>

    </div>

    <script src="/scripts/frontend.js"></script>
</body>
</html>